* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main,.header, footer {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    line-height: 1.5em;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 3vw;
    margin-bottom: 2em;
}

.nav--links a {
    display: inline-block;
    text-decoration: none;
    color: none;
    font-weight: 700;
    font-size: 1.5em;
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 0.5em 1em;
    align-self: center;
}

h1 {
    line-height: 1.2em;
    margin-bottom: 00.5em;
}

img {
    max-width: 100%;
    height: auto;
}

.start--button {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    background-color: hsl(322, 100%, 66%);
    padding: 0.5em;
    margin: 1em 0;
    border-radius: 30px;
    font-size: 1.5em;
}

h2 {
    margin: 1em 0;
}

.header {
    background-color: hsl(207, 100%, 98%);
    padding-bottom: 2em;
}
.hurddle--grow,
.hurddle--conversation,
.hurddle--users {
        margin-top: 4vw;
        margin-bottom: 4vw;
        margin-left: 4vw;
        border: 2px solid rgb(242, 227, 227);
        padding: 1vw 1.5vw;

    }
.hurddle--community {
    background-color: whitesmoke;
    padding: 2em 1em;
    max-width: 80vw;
    margin: auto;
}

footer {
    background-color: hsl(192, 100%, 9%);
    color: whitesmoke;
    padding: 2em 1em;
}

footer a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 1em;
}

.hurdle--socials {
    display: flex;
    min-width: 20vw;
}

.hurdle--location p {
    margin-bottom: 1em;
}


@media screen and (min-width: 720px) {
    .header {
        background-image: url(./images/bg-section-top-desktop-1.svg);
    }
    .hurddle--header {
        display: flex;
        text-align: start;
        background-image: url(./images/bg-section-top-desktop-1.svg);
    }

    .hurddle--header div:first-child {
        align-self: center;
    }

    .hurddle--grow,
    .hurddle--users {
        display: flex;
       
    }

    .hurddle--conversation {
        display: flex;
        flex-direction: row-reverse;
        text-align: end;
    }

    .hurddle--conversation .section--content {
        margin-right: -2vw;
        padding-right: 2vw;
        margin-left: 15vw;
    }

    .section--content {
        align-self: center;
        width: 70vw;
        text-align: start;
        margin-right: 15vw;
    }

    .hurddle--signup {
        display: flex;
        justify-content: space-between;
    }

    .hurdle--location {
        max-width: 40vw;
    }

    footer {
        padding: 5vw;
        text-align: start;
    }

}
