* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    line-height: 1.5em;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 3vw;
    margin-bottom: 2em;
}

.nav--links a {
    text-decoration: none;
    color: none;
    font-weight: 700;
    font-size: 1.5em;
    color: black;
}

h1 {
    line-height: 1.2em;
    margin-bottom: 00.5em;
}

img {
    max-width: 100%;
    height: auto;
}

.hurddle--header a {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    background-color: hsl(322, 100%, 66%);
    padding: 0.5em;
    margin: 1em 0;
    border-radius: 30px;
    font-size: 1.5em;
}

.hurddle--feedback{
    margin: 2em 0;
}

.hurddle--feedback div p:first-child{ font-weight: 700;
    font-size: 2em;
    margin-bottom: 0.5em;
}
h2 {
    margin: 1em 0;
}
.hurddle--grow,
.hurddle--conversation,
.hurddle--users {
        margin-top: 4vw;
        margin-bottom: 4vw;
        margin-left: 4vw;
        border: 2px solid rgb(242, 227, 227);
        padding: 1vw 1.5vw;

    }



@media screen and (min-width: 600px) {
    .hurddle--header {
        display: flex;
        text-align: start;
        background-image: url(./images/bg-section-top-desktop-1.svg);
    }

    .hurddle--header div:first-child {
        align-self: center;
    }

    .hurddle--grow,
    .hurddle--users {
        display: flex;
       
    }

    .hurddle--conversation {
        display: flex;
        flex-direction: row-reverse;
        text-align: end;
    }

    .hurddle--conversation .section--content {
        margin-right: -2vw;
        padding-right: 2vw;
        margin-left: 15vw;
    }

    .section--content {
        align-self: center;
        width: 70vw;
        text-align: start;
        margin-right: 15vw;
    }

}
